<!DOCTYPE html><html xmlns:date="http://exslt.org/dates-and-times" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta charset="utf-8">
<title>phpDocumentor » \eZ\Publish\Core\Persistence\Legacy\Content\FieldValue\Converter\Page</title>
<meta name="author" content="Mike van Riel">
<meta name="description" content="">
<link href="../css/template.css" rel="stylesheet" media="all">
<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script><script src="../js/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script><script src="../js/jquery.mousewheel.min.js" type="text/javascript"></script><script src="../js/bootstrap.js" type="text/javascript"></script><script src="../js/template.js" type="text/javascript"></script><script src="../js/prettify/prettify.min.js" type="text/javascript"></script><link rel="shortcut icon" href="../img/favicon.ico">
<link rel="apple-touch-icon" href="../img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img/apple-touch-icon-114x114.png">
</head>
<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner"><div class="container">
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a><a class="brand" href="../index.html">phpDocumentor</a><div class="nav-collapse"><ul class="nav">
<li class="dropdown">
<a href="#api" class="dropdown-toggle" data-toggle="dropdown">
                                    API Documentation <b class="caret"></b></a><ul class="dropdown-menu">
<li><a>Namespaces</a></li>
<li><a href="../namespaces/eZ.html"><i class="icon-th"></i> eZ</a></li>
<li><a>Packages</a></li>
<li><a href="../packages/Default.html"><i class="icon-folder-open"></i> Default</a></li>
<li><a href="../packages/FieldTypeProviderInterface.html"><i class="icon-folder-open"></i> FieldTypeProviderInterface</a></li>
<li><a href="../packages/eZ.html"><i class="icon-folder-open"></i> eZ</a></li>
</ul>
</li>
<li class="dropdown" id="charts-menu">
<a href="#charts" class="dropdown-toggle" data-toggle="dropdown">
                                    Charts <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="../graph_class.html"><i class="icon-list-alt"></i> Class hierarchy diagram</a></li></ul>
</li>
<li class="dropdown" id="reports-menu">
<a href="#reports" class="dropdown-toggle" data-toggle="dropdown">
                                    Reports <b class="caret"></b></a><ul class="dropdown-menu">
<li><a href="../errors.html"><i class="icon-remove-sign"></i> Errors 
                <span class="label label-info">3434</span></a></li>
<li><a href="../markers.html"><i class="icon-map-marker"></i> Markers 
                <ul><li>todo 
                <span class="label label-info">178</span>
</li></ul></a></li>
<li><a href="../deprecated.html"><i class="icon-stop"></i> Deprecated elements 
                <span class="label label-info">10</span></a></li>
</ul>
</li>
</ul></div>
</div></div>
<div class="go_to_top"><a href="#___" style="color: inherit">Back to top  <i class="icon-upload icon-white"></i></a></div>
</div>
<div id="___" class="container">
<noscript><div class="alert alert-warning">
                            Javascript is disabled; several features are only available
                            if Javascript is enabled.
                        </div></noscript>
<div class="row">
<div class="span4">
<span class="btn-group visibility" data-toggle="buttons-checkbox"><button class="btn public active" title="Show public elements">Public</button><button class="btn protected" title="Show protected elements">Protected</button><button class="btn private" title="Show private elements">Private</button><button class="btn inherited active" title="Show inherited elements">Inherited</button></span><div class="btn-group view pull-right" data-toggle="buttons-radio">
<button class="btn details" title="Show descriptions and method names"><i class="icon-list"></i></button><button class="btn simple" title="Show only method names"><i class="icon-align-justify"></i></button>
</div>
<ul class="side-nav nav nav-list">
<li class="nav-header">
<i class="icon-custom icon-method"></i> Methods</li>
<li class="method public "><a href="#__construct" title="__construct :: Constructor"><span class="description">Constructor</span><pre>__construct()</pre></a></li>
<li class="method public "><a href="#generateXmlString" title="generateXmlString :: Generates XML string from $page object to be stored in storage engine"><span class="description">Generates XML string from $page object to be stored in storage engine</span><pre>generateXmlString()</pre></a></li>
<li class="method public "><a href="#getIndexColumn" title="getIndexColumn :: Returns the name of the index column in the attribute table"><span class="description">Returns the name of the index column in the attribute table</span><pre>getIndexColumn()</pre></a></li>
<li class="method public "><a href="#restoreValueFromXmlString" title="restoreValueFromXmlString :: Restores value from XML string"><span class="description">Restores value from XML string</span><pre>restoreValueFromXmlString()</pre></a></li>
<li class="method public "><a href="#toFieldDefinition" title="toFieldDefinition :: Converts field definition data in $storageDef into $fieldDef"><span class="description">Converts field definition data in $storageDef into $fieldDef</span><pre>toFieldDefinition()</pre></a></li>
<li class="method public "><a href="#toFieldValue" title="toFieldValue :: Converts data from $value to $fieldValue"><span class="description">Converts data from $value to $fieldValue</span><pre>toFieldValue()</pre></a></li>
<li class="method public "><a href="#toStorageFieldDefinition" title="toStorageFieldDefinition :: Converts field definition data in $fieldDef into $storageFieldDef"><span class="description">Converts field definition data in $fieldDef into $storageFieldDef</span><pre>toStorageFieldDefinition()</pre></a></li>
<li class="method public "><a href="#toStorageValue" title="toStorageValue :: Converts data from $value to $storageFieldValue"><span class="description">Converts data from $value to $storageFieldValue</span><pre>toStorageValue()</pre></a></li>
<li class="nav-header protected">» Protected</li>
<li class="method protected "><a href="#generateBlockXmlString" title="generateBlockXmlString :: Generates XML string for a given $block object"><span class="description">Generates XML string for a given $block object</span><pre>generateBlockXmlString()</pre></a></li>
<li class="method protected "><a href="#generateItemXmlString" title="generateItemXmlString :: Generates XML string for a given $item object"><span class="description">Generates XML string for a given $item object</span><pre>generateItemXmlString()</pre></a></li>
<li class="method protected "><a href="#generateZoneXmlString" title="generateZoneXmlString :: Generates XML string for a given $zone object"><span class="description">Generates XML string for a given $zone object</span><pre>generateZoneXmlString()</pre></a></li>
<li class="method protected "><a href="#restoreBlockFromXml" title="restoreBlockFromXml :: Restores value for a given Block $node"><span class="description">Restores value for a given Block $node</span><pre>restoreBlockFromXml()</pre></a></li>
<li class="method protected "><a href="#restoreItemFromXml" title="restoreItemFromXml :: Restores value for a given Item $node"><span class="description">Restores value for a given Item $node</span><pre>restoreItemFromXml()</pre></a></li>
<li class="method protected "><a href="#restoreZoneFromXml" title="restoreZoneFromXml :: Restores value for a given Zone $node"><span class="description">Restores value for a given Zone $node</span><pre>restoreZoneFromXml()</pre></a></li>
<li class="nav-header">
<i class="icon-custom icon-property"></i> Properties</li>
<li class="nav-header protected">» Protected</li>
<li class="property protected "><a href="#%24pageService" title="$pageService :: Page service container"><span class="description">Page service container</span><pre>$pageService</pre></a></li>
</ul>
</div>
<div class="span8">
<a name="%5CeZ%5CPublish%5CCore%5CPersistence%5CLegacy%5CContent%5CFieldValue%5CConverter%5CPage" id="\eZ\Publish\Core\Persistence\Legacy\Content\FieldValue\Converter\Page"></a><ul class="breadcrumb">
<li>
<a href="../index.html"><i class="icon-custom icon-class"></i></a><span class="divider">\</span>
</li>
<li><a href="../namespaces/eZ.html">eZ</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.html">Publish</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.Core.html">Core</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.Core.Persistence.html">Persistence</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.Core.Persistence.Legacy.html">Legacy</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.Core.Persistence.Legacy.Content.html">Content</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.Core.Persistence.Legacy.Content.FieldValue.html">FieldValue</a></li>
<span class="divider">\</span><li><a href="../namespaces/eZ.Publish.Core.Persistence.Legacy.Content.FieldValue.Converter.html">Converter</a></li>
<li class="active">
<span class="divider">\</span><a href="../classes/eZ.Publish.Core.Persistence.Legacy.Content.FieldValue.Converter.Page.html">Page</a>
</li>
</ul>
<div href="../classes/eZ.Publish.Core.Persistence.Legacy.Content.FieldValue.Converter.Page.html" class="element class"><div class="details">
<h3>
<i class="icon-custom icon-method"></i> Methods</h3>
<a name="__construct" id="__construct"></a><div class="element clickable method public __construct" data-toggle="collapse" data-target=".__construct .collapse">
<h2>Constructor</h2>
<pre>__construct(\eZ\Publish\Core\FieldType\Page\Service $pageService) </pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$pageService</h4>
<code><a href="../classes/eZ.Publish.Core.FieldType.Page.Service.html">\eZ\Publish\Core\FieldType\Page\Service</a></code>
</div>
</div></div>
</div>
<a name="generateXmlString" id="generateXmlString"></a><div class="element clickable method public generateXmlString" data-toggle="collapse" data-target=".generateXmlString .collapse">
<h2>Generates XML string from $page object to be stored in storage engine</h2>
<pre>generateXmlString(<a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Page.html">\eZ\Publish\Core\FieldType\Page\Parts\Page</a> $page) : string</pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$page</h4>
<code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Page.html">\eZ\Publish\Core\FieldType\Page\Parts\Page</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code>string</code></div>
</div></div>
</div>
<a name="getIndexColumn" id="getIndexColumn"></a><div class="element clickable method public getIndexColumn" data-toggle="collapse" data-target=".getIndexColumn .collapse">
<h2>Returns the name of the index column in the attribute table</h2>
<pre>getIndexColumn() : string</pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"><p>Returns the name of the index column the datatype uses, which is either
"sort_key_int" or "sort_key_string". This column is then used for
filtering and sorting for this type.</p></p>
<h3>Returns</h3>
<div class="subelement response"><code>string</code></div>
</div></div>
</div>
<a name="restoreValueFromXmlString" id="restoreValueFromXmlString"></a><div class="element clickable method public restoreValueFromXmlString" data-toggle="collapse" data-target=".restoreValueFromXmlString .collapse">
<h2>Restores value from XML string</h2>
<pre>restoreValueFromXmlString(string $xmlString) : <a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Page.html">\eZ\Publish\Core\FieldType\Page\Parts\Page</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$xmlString</h4>
<code>string</code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Page.html">\eZ\Publish\Core\FieldType\Page\Parts\Page</a></code></div>
</div></div>
</div>
<a name="toFieldDefinition" id="toFieldDefinition"></a><div class="element clickable method public toFieldDefinition" data-toggle="collapse" data-target=".toFieldDefinition .collapse">
<h2>Converts field definition data in $storageDef into $fieldDef</h2>
<pre>toFieldDefinition(\eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldDefinition $storageDef, \eZ\Publish\SPI\Persistence\Content\Type\FieldDefinition $fieldDef) </pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$storageDef</h4>
<code><a href="../classes/eZ.Publish.Core.Persistence.Legacy.Content.StorageFieldDefinition.html">\eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldDefinition</a></code>
</div>
<div class="subelement argument">
<h4>$fieldDef</h4>
<code><a href="../classes/eZ.Publish.SPI.Persistence.Content.Type.FieldDefinition.html">\eZ\Publish\SPI\Persistence\Content\Type\FieldDefinition</a></code>
</div>
</div></div>
</div>
<a name="toFieldValue" id="toFieldValue"></a><div class="element clickable method public toFieldValue" data-toggle="collapse" data-target=".toFieldValue .collapse">
<h2>Converts data from $value to $fieldValue</h2>
<pre>toFieldValue(\eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldValue $value, \eZ\Publish\SPI\Persistence\Content\FieldValue $fieldValue) </pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$value</h4>
<code><a href="../classes/eZ.Publish.Core.Persistence.Legacy.Content.StorageFieldValue.html">\eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldValue</a></code>
</div>
<div class="subelement argument">
<h4>$fieldValue</h4>
<code><a href="../classes/eZ.Publish.SPI.Persistence.Content.FieldValue.html">\eZ\Publish\SPI\Persistence\Content\FieldValue</a></code>
</div>
</div></div>
</div>
<a name="toStorageFieldDefinition" id="toStorageFieldDefinition"></a><div class="element clickable method public toStorageFieldDefinition" data-toggle="collapse" data-target=".toStorageFieldDefinition .collapse">
<h2>Converts field definition data in $fieldDef into $storageFieldDef</h2>
<pre>toStorageFieldDefinition(\eZ\Publish\SPI\Persistence\Content\Type\FieldDefinition $fieldDef, \eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldDefinition $storageDef) </pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$fieldDef</h4>
<code><a href="../classes/eZ.Publish.SPI.Persistence.Content.Type.FieldDefinition.html">\eZ\Publish\SPI\Persistence\Content\Type\FieldDefinition</a></code>
</div>
<div class="subelement argument">
<h4>$storageDef</h4>
<code><a href="../classes/eZ.Publish.Core.Persistence.Legacy.Content.StorageFieldDefinition.html">\eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldDefinition</a></code>
</div>
</div></div>
</div>
<a name="toStorageValue" id="toStorageValue"></a><div class="element clickable method public toStorageValue" data-toggle="collapse" data-target=".toStorageValue .collapse">
<h2>Converts data from $value to $storageFieldValue</h2>
<pre>toStorageValue(\eZ\Publish\SPI\Persistence\Content\FieldValue $value, \eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldValue $storageFieldValue) </pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$value</h4>
<code><a href="../classes/eZ.Publish.SPI.Persistence.Content.FieldValue.html">\eZ\Publish\SPI\Persistence\Content\FieldValue</a></code>
</div>
<div class="subelement argument">
<h4>$storageFieldValue</h4>
<code><a href="../classes/eZ.Publish.Core.Persistence.Legacy.Content.StorageFieldValue.html">\eZ\Publish\Core\Persistence\Legacy\Content\StorageFieldValue</a></code>
</div>
</div></div>
</div>
<a name="generateBlockXmlString" id="generateBlockXmlString"></a><div class="element clickable method protected generateBlockXmlString" data-toggle="collapse" data-target=".generateBlockXmlString .collapse">
<h2>Generates XML string for a given $block object</h2>
<pre>generateBlockXmlString(<a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Block.html">\eZ\Publish\Core\FieldType\Page\Parts\Block</a> $block, \DOMDocument $dom) : <a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$block</h4>
<code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Block.html">\eZ\Publish\Core\FieldType\Page\Parts\Block</a></code>
</div>
<div class="subelement argument">
<h4>$dom</h4>
<code><a href="http://php.net/manual/en/class.domdocument.php">\DOMDocument</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code><a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></code></div>
</div></div>
</div>
<a name="generateItemXmlString" id="generateItemXmlString"></a><div class="element clickable method protected generateItemXmlString" data-toggle="collapse" data-target=".generateItemXmlString .collapse">
<h2>Generates XML string for a given $item object</h2>
<pre>generateItemXmlString(<a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Item.html">\eZ\Publish\Core\FieldType\Page\Parts\Item</a> $item, \DOMDocument $dom) : boolean | <a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$item</h4>
<code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Item.html">\eZ\Publish\Core\FieldType\Page\Parts\Item</a></code>
</div>
<div class="subelement argument">
<h4>$dom</h4>
<code><a href="http://php.net/manual/en/class.domdocument.php">\DOMDocument</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response">
<code>boolean</code><code><a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></code>
</div>
</div></div>
</div>
<a name="generateZoneXmlString" id="generateZoneXmlString"></a><div class="element clickable method protected generateZoneXmlString" data-toggle="collapse" data-target=".generateZoneXmlString .collapse">
<h2>Generates XML string for a given $zone object</h2>
<pre>generateZoneXmlString(<a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Zone.html">\eZ\Publish\Core\FieldType\Page\Parts\Zone</a> $zone, \DOMDocument $dom) : <a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$zone</h4>
<code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Zone.html">\eZ\Publish\Core\FieldType\Page\Parts\Zone</a></code>
</div>
<div class="subelement argument">
<h4>$dom</h4>
<code><a href="http://php.net/manual/en/class.domdocument.php">\DOMDocument</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code><a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></code></div>
</div></div>
</div>
<a name="restoreBlockFromXml" id="restoreBlockFromXml"></a><div class="element clickable method protected restoreBlockFromXml" data-toggle="collapse" data-target=".restoreBlockFromXml .collapse">
<h2>Restores value for a given Block $node</h2>
<pre>restoreBlockFromXml(\DOMElement $node) : <a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Block.html">\eZ\Publish\Core\FieldType\Page\Parts\Block</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$node</h4>
<code><a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Block.html">\eZ\Publish\Core\FieldType\Page\Parts\Block</a></code></div>
</div></div>
</div>
<a name="restoreItemFromXml" id="restoreItemFromXml"></a><div class="element clickable method protected restoreItemFromXml" data-toggle="collapse" data-target=".restoreItemFromXml .collapse">
<h2>Restores value for a given Item $node</h2>
<pre>restoreItemFromXml(\DOMElement $node) : <a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Item.html">\eZ\Publish\Core\FieldType\Page\Parts\Item</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$node</h4>
<code><a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Item.html">\eZ\Publish\Core\FieldType\Page\Parts\Item</a></code></div>
</div></div>
</div>
<a name="restoreZoneFromXml" id="restoreZoneFromXml"></a><div class="element clickable method protected restoreZoneFromXml" data-toggle="collapse" data-target=".restoreZoneFromXml .collapse">
<h2>Restores value for a given Zone $node</h2>
<pre>restoreZoneFromXml(\DOMElement $node) : <a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Zone.html">\eZ\Publish\Core\FieldType\Page\Parts\Zone</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description">
<p class="long_description"></p>
<h3>Parameters</h3>
<div class="subelement argument">
<h4>$node</h4>
<code><a href="http://php.net/manual/en/class.domelement.php">\DOMElement</a></code>
</div>
<h3>Returns</h3>
<div class="subelement response"><code><a href="../classes/eZ.Publish.Core.FieldType.Page.Parts.Zone.html">\eZ\Publish\Core\FieldType\Page\Parts\Zone</a></code></div>
</div></div>
</div>
<h3>
<i class="icon-custom icon-property"></i> Properties</h3>
<a name="%24pageService" id="$pageService"> </a><div class="element clickable property protected $pageService" data-toggle="collapse" data-target=".$pageService .collapse">
<h2>Page service container</h2>
<pre>$pageService : <a href="../classes/eZ.Publish.Core.FieldType.Page.Service.html">\eZ\Publish\Core\FieldType\Page\Service</a></pre>
<div class="labels"></div>
<div class="row collapse"><div class="detail-description"><p class="long_description"></p></div></div>
</div>
</div></div>
</div>
</div>
<div class="row"><footer class="span12">
            Template is built using <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap 2</a> and icons provided by <a href="http://glyphicons.com/">Glyphicons</a>.<br>
            Documentation is powered by <a href="http://www.phpdoc.org/">phpDocumentor 2.0.0a7</a> and<br>
            generated on 2012-11-30T17:00:28Z.<br></footer></div>
</div>
</body>
</html>
